<h1>Welcome to My Blog</h1>

<% @posts.each do |post| %>

<h2><%= link_to post.title, post %></h2>

<p>
<%= time_ago_in_words post.created_at %> ago
</p>

<p>
<%= truncate post.body %>
</p>

<% end %>

<p>
<%= link_to "New post", new_post_path %>
</p>